// Box sizing
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
    height: auto;
    max-width: 100%;
}

/* Type */
body {
	color: $text-color;
	font-family: $font-family-primary;
}

h1, h2 {
	margin: 0;
}

h1 {
	color: $text-color-h1;
	font-family: $font-family-h1;
	font-size: $font-size-h1;
	line-height: 1.3;
	letter-spacing: 0.4em;
	text-transform: uppercase;

	@include mq-tablet  { font-size: $font-size-h1*1.6; }
	@include mq-netbook { font-size: $font-size-h1*1.8; }
	@include mq-desktop { font-size: $font-size-h1*2.2; }

	span {
		display: block;
		font-size: $font-size-h1-span;
		letter-spacing: 0.5em;
	}
}

h2 {
	border-top: 1px solid $color-primary-darker;
	color: $text-color-h2;
	display: inline-block;
	font-family: $font-family-h2;
	font-size: $font-size-h2;
	font-weight: $font-weight-h2;
	letter-spacing: 0.4em;
	margin-top: 0.4em;
	padding: 0.4em 1em;
	text-transform: uppercase;

	@include mq-tablet  { font-size: $font-size-h2*1.2; }
	@include mq-netbook { font-size: $font-size-h2*1.4; }
	@include mq-desktop { font-size: $font-size-h2*1.6; }
}

h3 {
	font-family: $font-family-h3;
	font-size: $font-size-h3;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	@include mq-tablet  { font-size: $font-size-h3*1.2; }
	@include mq-netbook { font-size: $font-size-h3*1.4; }
	@include mq-desktop { font-size: $font-size-h3*1.6; }
}

h4 {
	font-size: $font-size-h4;
	margin-bottom: 0;

	@include mq-tablet  { font-size: $font-size-h4*1.3; }
}

p {
	font-size: $font-size;
	line-height: $line-height;

	@include mq-tablet  { font-size: $font-size*1.1; line-height: $line-height*1.1; }
	@include mq-tablet  { font-size: $font-size*1.2; line-height: $line-height*1.2; }
}

/* Classes */
.skills-wrapper,
.work-wrapper,
.info-wrapper {
	overflow: hidden;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 60px;
}

.section-intro,
.section-content {
	text-align: center;
}

.section-intro {
	p {
		color: $text-color-section-intro;
		font-size: $font-size-section-intro;
		font-weight: $font-weight-section-intro;
		line-height: $line-height-section-intro;
		margin-left: auto;
		margin-right: auto;
		max-width: 640px;

		@include mq-tablet  { font-size: $font-size-section-intro*1.2; }
		@include mq-netbook { font-size: $font-size-section-intro*1.4; }
		@include mq-desktop { font-size: $font-size-section-intro*1.6; max-width: 768px; }
	}
}

.section-content {
	margin-top: 40px;
}

.btn {
	background-color: $btn-bgc;
	border-radius: 3px;
	color: #ffffff;
	font-size: 0.85em;
	font-weight: $font-weight-btn;
	padding: 14px 30px;
	text-decoration: none;

	text-transform: uppercase;
	letter-spacing: 0.15em;

    transition: background-color 0.5s ease;
}

.btn:hover {
	background-color: darken($btn-bgc, 10%);
}

// Lazy load image fade-in
.b-lazy {
   opacity: 0;
   transition: opacity 500ms ease-in-out;

   &.b-loaded {
        opacity: 1;
   }
}
