<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.description }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="/styles.css">

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="{{ site.title }} &middot; {{ site.tagline }}" />
  <meta property="og:site_name" content="{{ site.title }} &middot; {{ site.tagline }}" />
  <meta property="og:url" content="http://www.ritchiejacobs.be" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image" content="https://pbs.twimg.com/profile_images/378800000595238302/1ef2ab2e74b539b33e7756feea51f50b_400x400.jpeg" />
  <meta property="fb:admins" content="1249376468" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@ritchiejacobs" />
  <meta name="twitter:creator" content="@ritchiejacobs" />
  <meta name="twitter:title" content="{{ site.title }} &middot; {{ site.tagline }}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/378800000595238302/1ef2ab2e74b539b33e7756feea51f50b_400x400.jpeg">

  <meta name="msvalidate.01" content="DE92C6CCE6961C55527E69FE1FADA4DF" />

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.GA_TRACKING_ID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.GA_TRACKING_ID }}');
  </script>
</head>
