<div class="sidebar">
  <div class="sidebar__header">
    <img class="sidebar__avatar" src="https://twitter.com/ritchiejacobs/profile_image?size=bigger">
    <div class="sidebar__title">
      <h1>{{ site.title }}</h1>
      <p>Front-end Developer</p>
    </div>
  </div>
  <nav class="sidebar__nav">
    <a class="sidebar__link{% if page.url != '/about' %} sidebar__link--active{% endif %}" href="{{ site.url }}">Articles</a>
    {% for node in site.pages %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar__link{% if page.url == node.url %} sidebar__link--active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <a class="sidebar__link" href="#">Contact</a>
  </nav>
  <div class="sidebar__footer">
    <a href="https://twitter.com/ritchiejacobs?ref_src=twsrc%5Etfw"
       class="twitter-follow-button"
       data-show-count="false"
       data-size="large">Follow @ritchiejacobs</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
