.card {
  background-color: $card-bg;
  color: $card-color;
  display: block;
  padding: 4rem 2rem;
  max-width: $breakpoint-sm;

  &:hover {
    background-color: $card-bg-hover;
    color: $card-color-hover;
  }

  // Elements
  &__title {
    margin-bottom: 0;
  }

  &__meta {
    color: $card-meta-color;
    font-size: $font-size-sm;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
  }

  &__meta-tags {
    margin-left: 1rem;
  }

  &__intro {
    margin-bottom: 0;
  }

  // Modifiers

}
