.content {
  max-width: $content-width;
  padding: $content-padding-x;

  @media (min-width: $sidebar-breakpoint) {
    margin-left: $sidebar-width;
  }
}

.post {
  background-color: #f8f8f8;
  border-radius: 3px;
  color: lighten($sidebar-bg, 15%);
  display: block;
  margin-top: 1rem;
  padding: 4rem 2rem;
  text-decoration: none;

  &:first-child {
    margin-top: 0;
  }

    &:hover {
      background-color: darken(#f8f8f8, 1%);
      color: lighten($sidebar-bg, 25%);
    }

  &__title {
    margin-bottom: 0;
    margin-top: 0;
  }

  &__date {
    color: #bdc3c7;
    display: block;
    margin-bottom: 2rem;
    margin-top: .2rem;
    font-size: .9375rem;
  }

  &__intro {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.pagination {
  border: 1px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;

  &__btn {
    color: $body-color;
    display: block;
    flex-basis: 50%;
    padding: 1rem;
    text-align: center;
    text-decoration: none;

    &:first-child {
      border-right: 1px solid #eee;
    }
  }

  &__btn--disabled {
    // background-color: #f5f5f5;
    color: lighten($body-color, 50%);
  }
}
