.main {
  @media (min-width: $sidebar-breakpoint) {
    margin-left: $sidebar-width;
  }
}

.cards,
.pagination {
  margin: 1rem;
  max-width: 720px;

  @media (min-width: $sidebar-breakpoint) {
    margin: 3rem;
  }
}

.card {
  background-color: #f8f8f8;
  border-radius: 3px;
  color: lighten($sidebar-bg, 15%);
  display: block;
  margin-top: 1rem;
  padding: 4rem 2rem;
  text-decoration: none;
  transition: background-color .3s, color .3s;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    background-color: darken(#f8f8f8, 2%);
    color: $sidebar-bg;
  }

  &__title {
    margin-bottom: 0;
    margin-top: 0;
  }

  &__meta {
    color: #bdc3c7;
    margin-bottom: 1rem;
    margin-top: .2rem;
    font-size: .9375rem;
  }

  &__meta-tags {
    &::before {
      content: '\2022';
      color: darken(#bdc3c7, 5%);
      margin-left: .2em;
      margin-right: .5em;
    }
  }

  &__intro {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.pagination {
  border: 1px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;

  &__btn {
    color: $body-color;
    display: block;
    flex-basis: 50%;
    padding: 1rem;
    text-align: center;
    text-decoration: none;

    &:first-child {
      border-right: 1px solid #eee;
    }
  }

  &__btn--disabled {
    color: lighten($body-color, 50%);
  }
}
