.post {
  padding-bottom: 2em;
}

.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}

.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}

.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
  background-color: #efefef;
  color: lighten($sidebar-bg, 20%);
  font-size: .65rem;
  margin: 0 0.1em;
  padding: 0.3em 1em;
}

.post__content p {
  font-family: Georgia, "Cambria", serif;
  font-size: 18px;
  line-height: 1.5;
}

.post__content h2 {
  margin-top: 4rem;
}
