.post {
  padding-bottom: 2em;

  &__header {
    margin-bottom: 3rem;
  }
}

.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}

.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}

.post__title {
  font-size: 2.2rem;
  margin-bottom: .8rem;
}

.post__content {
  p, li {
    color: #666;
    font-family: Georgia, "Cambria", serif;
    font-size: 19px;
    line-height: 1.6;
  }
}

.post__content h2 {
  margin-top: 4rem;
}

.post__share {
  border-top: 1px solid #eee;
  margin-top: 4rem;

  h2 {
    display: block;
  }

  .fb-share-button {
    margin-left: .5rem;
  }
}

.post_share-buttons {
  display: flex;
}

// META
.meta {
  color: #777;
  font-size: .65rem;

  &__tags,
  &__time,
  &__author {
    display: inline-block;
  }

  &__tags,
  &__time {
    &::after {
      content: '\02014';
      display: inline;
      margin-left: .25rem;
      margin-right: .25rem;
    }
  }
}
