// COLORS
// --------------------
$black: #333;
$white: #eee;

$brand-primary: #2c2c54;

// SIDEBAR
// --------------------
$sidebar-bg: $brand-primary;
$sidebar-subtitle-color: lighten($sidebar-bg, 60%);
$sidebar-subtitle-font-size: .875rem;
$sidebar-title-color: $white;
$sidebar-title-font-size: 1.375rem;

$nav-item-border-color: transparent;
$nav-item-border-radius: 0;
$nav-item-border-width: 2px;
$nav-item-bg: darken($sidebar-bg, 10%);
$nav-item-color: lighten($sidebar-bg, 60%);
$nav-item-font-size: .875rem;
