/*------------------------------------*\
  COLORS
\*------------------------------------*/
$black: #333;
$white: #fdfdfd;

/*------------------------------------*\
  GLOBAL
\*------------------------------------*/
$font-family: 'Maven Pro', 'Helvetica Neue', Arial, sans-serif;
$font-size: 1rem;
$font-size-sm: .875rem;

$body-bg: $white;
$body-color: $black;
$body-line-height: 1.5;

$padding-x: 2rem;
$padding-y: 1rem;

$breakpoint-sm: 48rem;

/*------------------------------------*\
  SIDEBAR
\*------------------------------------*/
$sidebar-bg: #312d35;
$sidebar-width: 18rem;
$sidebar-header-color: #ecf0f1;

$nav-bg-active: darken($sidebar-bg, 2.5%);
$nav-color: lighten($sidebar-bg, 50%);
$nav-color-active: lighten($sidebar-bg, 65%);

/*------------------------------------*\
  SIDEBAR
\*------------------------------------*/
$card-bg: darken($body-bg, 2.5%);
$card-bg-hover: darken($body-bg, 4%);
$card-color: $sidebar-bg;

/*------------------------------------*\
  POST
\*------------------------------------*/
$post-font-size: 1.0625rem;
$post-meta-font-size: .95rem;
