// COLORS
// --------------------
$black: #333;
$white: #eee;

$brand-primary: #3742fa;

// GENERAL
// --------------------
$link-color: $brand-primary;

// SIDEBAR
// --------------------
$sidebar-bg: $brand-primary;
$sidebar-subtitle-color: rgba($white, .75);
$sidebar-subtitle-font-size: .875rem;
$sidebar-title-color: $white;
$sidebar-title-font-size: 1.375rem;

$nav-item-border-color: transparent;
$nav-item-border-radius: 0;
$nav-item-border-width: 2px;
$nav-item-bg: darken($sidebar-bg, 5%);
$nav-item-color: $white;
$nav-item-font-size: .875rem;
