.sidebar {
  background-color: $sidebar-bg;
  color: $sidebar-color;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: $sidebar-width;

  // Elements
  &__header {
    align-items: center;
    display: flex;
    padding: 3rem 1rem;

    h1 {
      font-size: 1.2rem;
      margin-bottom: 0;
      margin-top: 0;
    }

    p {
      font-size: $font-size-sm;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__avatar {
    border-radius: 100%;
    height: 4rem;
    margin-right: 1rem;
    width: 4rem;
  }

  &__nav {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__link {
    color: $sidebar-color;
    display: block;
    font-size: $font-size-sm;
    padding: 1rem;

    &--active {
      background-color: darken($sidebar-bg, 2.5%);
    }
  }

  &__footer {
    bottom: 0;
    padding: 1rem;
    position: absolute;
  }

  // Modifiers

}
