.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.sidebar {
  background: $sidebar-bg;
  color: #fff;
}

.brand-title,
.brand-tagline {
  margin: 0;
}

.brand-title {
  color: $sidebar-title-color;
  font-size: $sidebar-title-font-size;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.brand-tagline {
  color: rgb(176, 202, 219);
  color: $sidebar-subtitle-color;
  font-size: $sidebar-subtitle-font-size;
  font-weight: 300;
  line-height: 1.5;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2rem;
}

.nav-item {
  display: block;
  *display: inline;
  zoom: 1;
}

.nav-item a {
  background-color: $nav-item-bg;
  border-radius: $nav-item-border-radius;
  border: $nav-item-border-width solid $nav-item-border-color;
  color: $nav-item-color;
  font-size: $nav-item-font-size;
  margin-top: .5em;
  transition: all 300ms;
}

.nav-item a:hover,
.nav-item a:focus {
  background-color: $nav-item-color;
  color: $nav-item-bg;
  text-decoration: none;
}

.social {
  margin-top: 2rem;
}

@media (min-width: 48em) {
  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
