.sidebar {
  background-color: $sidebar-bg;
  width: 100%;

  @media (min-width: $sidebar-breakpoint) {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: $sidebar-width;
  }

  // Elements
  &__head {
    align-items: center;
    color: $sidebar-color;
    display: flex;
    flex-direction: row;
    padding: $sidebar-padding-y * 2 $sidebar-padding-x;

    @media (min-width: $sidebar-breakpoint) {
      padding: $sidebar-padding-y * 4 $sidebar-padding-x;
    }
  }

  &__avatar {
    border-radius: 50%;
    height: 60px;
    margin-right: 1rem;
    position: relative;
    width: 60px;

    &::before,
    &::after {
      content: '';
      height: 60px;
      left: 0;
      position: absolute;
      top: 0;
      width: 60px;
    }

    &::before {
      background-color: $sidebar-bg;
    }

    &::after {
      background-color: darken($sidebar-bg, 2%);
      border-radius: 50%;
    }
  }

  &__title {
    h1 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0;
      text-decoration: none;
    }

    p {
      color: $sidebar-color;
      font-size: .8rem;
      font-weight: 100;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__link {
    color: lighten($color: $sidebar-bg, $amount: 40%);
    display: block;
    font-size: $sidebar-font-size;
    padding: $sidebar-padding-y $sidebar-padding-x;
    text-decoration: none;
    transition: background-color .3s, color .3s;

    &:hover,
    &--active {
      background-color: darken($sidebar-bg, 2%);
      color: lighten($color: $sidebar-bg, $amount: 60%);
    }
  }

  // Modifiers

}
