$font-family: 'Maven Pro', 'Helvetica Neue', Arial, sans-serif;
$font-size: 1rem;

// Body
$body-bg: #fdfdfd;
$body-color: #333;
$body-line-height: 1.5;

// Sidebar
$sidebar-bg: #312d35;
$sidebar-breakpoint: 48rem;
$sidebar-color: #ecf0f1;
$sidebar-font-size: .9375rem;
$sidebar-header-font-size: 1.4rem;
$sidebar-padding-x: 2rem;
$sidebar-padding-y: 1rem;
$sidebar-width: 18rem;

// Content
$content-padding-x: 2rem;
$content-width: 48rem;
