.intro-wrapper {
	background-color: $bg-color-intro;
}

.intro {
	height: 460px;
	overflow: hidden;
	position: relative;

	@include mq-tablet  { height: 700px; }
	@include mq-netbook { height: 700px; }
	@include mq-desktop { height: 800px; }
}

.titles {
	margin-top: 150px;
	text-align: center;

	@include mq-tablet  { margin-top: 280px }
	@include mq-netbook { margin-top: 280px }
	@include mq-desktop { margin-top: 330px }
}

.anim img {
	bottom: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right: 0;
	width: 100%;
	padding: 0 10px;
}

.rocket img {
	height: 150px;
	max-width: 130px;
	width: auto;
}

.star img {
	max-height: 100px;
	max-width: 100px;
}

.star-top-left img {
	height: 40px;
	left: -700px;
	top: 200px;
	width: 60px;
}

.star-top-right img {
	right: -600px;
	top: 100px;

	height: 40px;
	width: 60px;
}

.star-bottom-right img {
	bottom: 200px;
	right: -600px;
	height: 30px;
	width: 50px;
}

.star-bottom-left img {
	bottom: 240px;
	height: 20px;
	right: 450px;
	width: 40px;
}

.cloud-small img  { max-width: 620px; }
.cloud-large img  { max-width: 796px; }
.cloud-center img { max-width: 491px; }

/* Animations */
.star-top-left img     { animation: fadeScale 1s infinite alternate ease-in; }
.star-top-right img    { animation: fadeScale 1s infinite alternate ease-in-out; }
.star-bottom-right img { animation: fadeScale 1s infinite alternate; }

.cloud-small img {
	animation: fadeScaleCloud 1s infinite alternate;
	transform-origin: center bottom;
}

.cloud-large img {
	animation: fadeScaleCloud 1s infinite alternate ease-in-out;
	transform-origin: center bottom;
}

@keyframes fadeScale {
    from {
      transform: scale(0.8);
      opacity: 0.8;
    }
}

@keyframes fadeScaleCloud {
    from {
      transform: scale(0.98);
      opacity: 0.8;
    }
}
