<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="pure-g">

      {% include sidebar.html %}

      <div class="content pure-u-1 pure-u-md-3-4">
          {{ content }}
      </div>

    </div>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42577887-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-42577887-5');
    </script>
  </body>

</html>
