---
layout: default
---

<article class="post">

  <header class="post__header">
    <h1 class="post__title">{{ page.title }}</h1>
    <div class="meta">
      <div class="meta__tags">
        Tagged in
        {% for tag in page.tags %}
          <a class="meta__tag" href="/tag/{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      </div>
      <div class="meta__time">Published on <time datetime="{{ page.date }}">{{ page.date | date_to_string }}</time></div>
      <div class="meta__author">Written by Ritchie Jacobs</div>
    </div>
  </header>

  <section class="post__content">
    {{ content }}
  </section>

  <section class="post__share">
    <h2>Share this article</h2>

    <div class="post_share-buttons">
      <!-- Twitter -->
      <a class="twitter-share-button" href="{{ site.url }}{{ page.url }}" data-size="large" data-via="ritchiejacobs" data-show-count="false"></a>

      <!-- Facebook -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button" data-size="large"></div>
    </div>
  </section>

</article>
